<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <aggregation.filter.inbound>
      <processor type="Sitecore.Support.ContentSearch.Analytics.Pipelines.AggregationFilters.InboundContactIdentifierFilter, Sitecore.Support.106835" patch:after="processor[1]"/>
    </aggregation.filter.inbound>
  </sitecore>
</configuration>